<!DOCTYPE html>
<html>

<head>

<title>Attendance Records</title>

<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>

<body>

<div>

<h2>📊 Attendance Records</h2>

<table>

<tr>

{% for header in records[0] %}

<th>{{header}}</th>

{% endfor %}

</tr>

{% for row in records[1:] %}

<tr>

{% for cell in row %}

<td>{{cell}}</td>

{% endfor %}

</tr>

{% endfor %}

</table>

<a class="home-btn" href="/">🏠 Home</a>

</div>

</body>

</html>
